section.banner
		img.img-responsive(src='assets/imgs/banner.jpg')
		.banner-inner
			h4 What are we
			.inner1
				h3 Welcome to bussiness blus
				p Lorem ipsum dolor sit amet, qui at porro viris. Ne his fabulas debitis eloquentiam, errem scripta intellegam ut 
					| duo, pro ut summo molestie. Alienum inimicus perpetua ex vis.
				a.more(href="#") read more