section.contact
	.container
		.col-sm-9
			h4 Perfect solution for your business
			h5.header2 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		.col-sm-3
			a.more(href=link) Conatct Now