section.projects
		.container
			.col-sm-6.zMore
				.row
					.col-md-12.marginB15
						h3.header Projects
						h5.header2 Featured Works
						p Lorem ipsum dolor sit amet, qui at porro viris. Ne his fabulas debitis eloquentiam, errem scripta intellegam ut.
						a.more(href="#") read more
			.col-sm-6.col-xs-9.clearfix
				.rotate.clearfix
					.col-xs-6
						.row
							.col-md-12.marginB15
								.proWrap
									.imgWrap
										img.img-responsive(src="assets/imgs/pro1.jpg")
							.col-md-12.marginB15.more30.clearfix
								.col-xs-6.marginR15.calcW
									.proWrap
										.imgWrap
											img.img-responsive(src="assets/imgs/pro2.jpg")
								.col-xs-6.marginR15.calcW
									.proWrap
										.imgWrap
											img.img-responsive(src="assets/imgs/pro3.jpg")

					.col-xs-12.marginB15
						.col-xs-3
						.col-xs-3.marginR15.calcW2.marginL
							.proWrap
								.imgWrap
									img.img-responsive(src="assets/imgs/pro4.jpg")
						.col-xs-3.marginR15.calcW2
							.proWrap
								.imgWrap
									img.img-responsive(src="assets/imgs/pro5.jpg")
						.col-xs-3
					.col-xs-12.marginB15
						.col-xs-3
						.col-xs-3.marginR15
						.col-xs-3.calcW2.marginL2
							.proWrap
								.imgWrap
									img.img-responsive(src="assets/imgs/pro6.jpg")
						.col-xs-3