section.services
		.container
			.col-md-6.col-sm-4
				h3.header services
				h5.header2 what are we doing
				p Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make a .type specimen book
				a.more(href="#") read more
			.col-md-6.col-sm-8.paddCustom
				.col-xs-6
					.serv
						.effect
							img(src="assets/imgs/serv.png")
						.serv-inner
							i.fas.fa-rocket
							h4 boosting your business
				.col-xs-6
					.serv
						.effect
							img(src="assets/imgs/serv2.png")
						.serv-inner
							i.fas.fa-users
							h4 online support team
				.col-xs-6
					.serv
						.effect
							img(src="assets/imgs/serv3.png")
						.serv-inner
							i.fas.fa-chart-pie
							h4 analyzing business strategy
				.col-xs-6
					.serv
						.effect
							img(src="assets/imgs/serv4.png")
						.serv-inner
							i.fas.fa-clock
							h4 time managment
		.triangle
		.triangle.triangle2