extends layout
block vars
	- var title='Home'
block content
	<!--banner-->
	include Pages/Homepage/banner.pug
	<!--services-->
	include Pages/Homepage/services.pug
	<!--projects-->
	include Pages/Homepage/projects.pug
	<!--clients-->
	include Pages/Homepage/clients.pug
	<!--news-->
	include Pages/Homepage/news.pug
	<!--team-->
	include Pages/Homepage/team.pug
	<!--contact-->
	include Pages/Homepage/contact.pug