.head1>div{
	padding: 0;
	height: 50px;
}
.nav{
	width: 80%;
	margin: auto;
	float: none;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar{
	margin: 0;
	border:0;
	background: #eaeff3;
	border-radius: 0;
}
.nav li{
	border-right: 1px solid $gray;
	text-transform: uppercase;
}
.nav li:last-child{
	border-right:0;
}
.navbar-default .navbar-nav > li > a{
	color: $gray3;
	font-family:semiBold;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
	color: $blueblack;
}
.signUp{
	display: block;
	background: $blue;
	height: calc(100%);
	padding: 15px;
	a{color: #fff;text-decoration: none;font-family:semiBold;}
	i{float: left;margin-right: 10px;font-size:16px;line-height:16px;}
}
.head2 {
	background: #fff;
	.container{padding-left: 0;}
}
.logo span{font-family: pold;margin-right: 2px;}
.logo{
	text-transform: uppercase;
	text-decoration: none;
	color: $blueblack;
	padding-top: 20px;
	font-size: 26px;
	display: block;
}
.call{border-right: 1px solid $gray;}
.call,.mail{
	padding-top: 15px;
	h5{margin: 0;color: $gray2;font-family:semiBold;font-size:0.9em;line-height: 17px;text-transform: uppercase;}
	h4{font-family:pold;font-size:1.375em;line-height:24px;margin-top:0;margin-bottom:15px;}
	.col-md-9{padding: 0;}
	i{
		font-size: 2.000em;
		color: $orange;
		line-height: 1.2;
		float: right;
	}
}

.logo:hover,.logo:focus{text-decoration: none;color: $blueblack;}