$blue :#36a8ff;
$gray :#dde4ea;
$gray2 :#96a2ac;
$gray3 :#60717e;
$gray4 :#565656;
$gray5 :#474747;
$gray6 :#2a2b2c;
$gray7:#8a8a8a;
$lightGray:#eaeff3;
$blueblack :#171b1f;
$orange:#ffaf36;
$black:#0e111a;
$black2:#1c1c1c;
